
// Fonts
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic");

// Variables
@import "variables";

@import '~font-awesome/scss/font-awesome';

html, body {
    height: 100% !important;
}

span[data-letters] {
	width: 6em !important;
	height: 6em !important;
}

[data-letters]:before {
	content: attr(data-letters);
    display: inline-block;
    font-size: 3.8em;
    width: 1.4em;
    height: 1.7em;
    line-height: 1.4em;
    text-align: center;
    border-radius: 50%;
    background: transparent /*#eee*/;
    vertical-align: middle;
    margin-right: 3em;
    color: #3c8dbc;
}